<div id='grid' class='grid'></div>
<div class='info-conatainer'>
	<div class='logo'>
		<img src="/images/logo.png">
	</div>
	<div class='info'>
		The player is to flip two of these upwards each round, trying to find equals. If the two cards are equal, the player receives one point, and the cards are removed from the game board. Otherwise, the player loses one point and the cards are turned face-down again. This continues until all pairs have been found.
	</div>
	<div class='actions'>
		<button id="restart" type="button" class="btn btn-primary">Restart</button>
	</div>
</div>