//imports files
@import "bootstrap/bootstrap";

html, body {
  height: 100%;
  width: 100%;
  font-family: cursive;
}
.header {
}
.content {
    background-color: #c90035;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid {
    height: 425px;
    min-height: 425px;
    max-height: 425px;
    width: 370px;
    min-width: 370px;
    max-width: 370px;
    display: block
}
.container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  display: inline-block;
  border: 2px solid white;

  box-sizing: content-box;
  margin: 0px 2.5px;
}
.flipped .card {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.container, .front, .back {
  width: 80px;
  height: 100px;
}
.card {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.front {
  z-index: 2;
}
.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #f8f8f8;
}
.selected {
  border-color: black;
  .card{
  }
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}
.actions, .actions:hover{
  button{
    float: right;
    background-color: #93073e;
    border-color: #93073e;
  }
}
.playarea {
    display: flex;
    padding: 40px;
    width: 720px;
    background-color: #ff5627;
}
.info{
    padding: 10px;
    background-color: #ffc400;
}
.gameinfo{
    width: 100%;
    padding: 30px 10px;
}
.info-conatainer{
    margin-left: 34px;
}
.action-space{
    display: flex;
    align-items: center;
    justify-content: space-between;
}